---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<ul>
  <li>Co-instructor, Introduction to Scientific Programming in Python (CSCI P-14320). Harvard Summer School, Pre-College Program. Summer 2021.</li>
  <li>TF, Interstellar Medium and Star Formation (AY203). Harvard University. Spring 2021.</li>
  <li>TF, Introduction to Scientific Programming in Python (CSCI P-14320). Harvard Summer School, Pre-College Program. Summer 2019, 2020.</li>
  <li>TF, Stellar and Planetary Astronomy (AY16). Harvard University. Spring 2020.</li>
  <li>TF, Physics I (Lab): Mechanics, Elasticity, Fluids, and Diffusion (PHYS E-1axl). Harvard Extension School. Fall 2017.</li>
</ul>  
  
<h1>Mentoring</h1>
<ul>
  <li>Sage Crystian, Harvard Undergraduate</li>
  &emsp;summer research project mapping vertical gas structures in protoplanetary disks using ALMA data
  <li>Prabidhik KC, Harvard Undergraduate</li>
  &emsp;independent research project on the chemistry of MYSOs and UC HII regions using using SMA data
  <li>Devin Sullivan, Harvard Undergraduate</li>
  &emsp;Junior Thesis (AY98) on the distribution of HCN gas in protoplanetary disks using using ALMA data

<!---{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}--->
