---
layout: archive
title: "Resources"
permalink: /teaching/
author_profile: true
---

list xx useful resources

<!---
<ul>
  <h2>Courses:</h2>
  <li>Instructor, Introduction to Scientific Programming in Python (CSCI P-14320). Harvard Summer School, Pre-College Program. Summer 2022.</li>
  <li>Co-instructor, Introduction to Scientific Programming in Python (CSCI P-14320). Harvard Summer School, Pre-College Program. Summer 2021.</li>
  <li>Instructor, Scientific Computing with SciPy, Python Workshop. SAO Latino Initiative Program. Summer 2021, 2022.</li>
  <li>TA, Interstellar Medium and Star Formation (AY203). Harvard University. Spring 2021.</li>
  <li>TA, Introduction to Scientific Programming in Python (CSCI P-14320). Harvard Summer School, Pre-College Program. Summer 2019, 2020.</li>
  <li>TA, Stellar and Planetary Astronomy (AY16). Harvard University. Spring 2020.</li>
  <li>TA, Physics I (Lab): Mechanics, Elasticity, Fluids, and Diffusion (PHYS E-1axl). Harvard Extension School. Fall 2017.</li>
  
  <h2>Pedagogy Training and Teaching Awards:</h2>
  <li>Science Education Undergraduate Mentoring Workshop Series, Harvard University. Spring 2022.</li>
  <li>Derek Bok Teaching Certificate, Harvard University. 2021.</li>
  <li>Derek Bok Certificate of Excellence and Distinction in Teaching, Harvard University. Spring 2021.</li>
</ul>  
  
<br>

<h1>Mentoring</h1>
<ul>
  <li>Sarai Rankin, Morgan State University / REU Undergraduate</li>
  REU summer project measuring dust mass in protoplanetary disks in the Cepheus OBb3 star-forming region using SMA data <br> <br>
  <li>Arielle Frommer, Harvard Undergraduate</li>
  Summer research project studying nitrile chemistry in a sample of massive young stellar objects using SMA data <br> <br>
  <li>Sage Crystian, Harvard Undergraduate</li>
  Summer research project mapping vertical gas structures in protoplanetary disks using ALMA data <br> <br>
  <li>Prabidhik KC, Harvard Undergraduate</li>
  Independent research project on the chemistry of MYSOs and UC HII regions using using SMA data <br> <br>
  <li>Devin Sullivan, Harvard Undergraduate</li>
  Junior Thesis (AY98) on the distribution of HCN gas in protoplanetary disks using using ALMA data <br> <br>
</ul>

<!---{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}--->
